<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- Load Font - "Manjari" -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Manjari:wght@100;400;700&display=swap"
        rel="stylesheet">

    {{!-- Font: Rock Salt --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">

    <!-- CSS Links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">



    <link rel="stylesheet" href="/assets/styles.css">

</head>

<body data-theme="light">

    <header class="is-flex is-flex-direction-row is-justify-content-space-between  mt-6">
        <a href="/">
            <h1 class="title is-3 ml-6">Teacher's Assistant</h1>
        </a>
        <nav class="row align center"></nav>
        {{#if teacher}}
        <p>Welcome, {{teacher.name}}</p>

        <a href="/dashboard" class="{{#if dashboard}}active{{/if}}">Your Classroom</a>

        <a href="/add" class="{{#if add}}active{{/if}}">Add Student</a>

        <a href="/logout">Log Out</a>

        {{else}}
        {{#if landing}}
        <a href="/login">Login or Register</a>
        {{/if}}

        {{#if login}}
        <a href="/register">Register</a>
        {{/if}}

        {{#if register}}
        <a href="/login">Log In</a>
        {{/if}}
        {{/if}}
        </nav>
    </header>

    <div class="background-image"></div>

    {{{body}}}

    <footer>
        <div class="has-text-centered">
            <p>&copy; 2024 Teacher's Assistant. All Rights Reserved.</p>
        </div>
    </footer>

</body>

</html>