<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- Header Font - "Manjari" -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Manjari:wght@100;400;700&display=swap"
        rel="stylesheet">

    <!-- CSS Links -->
    <link rel="stylesheet" href="../../public/assets/styles.css">

</head>

<body>

    <header id="banner">
        <h1>Teacher's Assistant</h1>

        <nav>
            <a href="/login">Login In</a>
        </nav>

    </header>

    {{!-- <div class="background-image"></div> --}}

    {{{body}}}

    <footer>
        <p>&copy; 2024 Teacher's Assistant. All Rights Reserved.</p>
    </footer>

</body>

</html>