<h2 class="title is-4 ml-6 pl-4">Your Classroom:</h2>

<section class="grid has-text-centered">
    {{#if teacher.students}}
    {{#each teacher.students}}
    <div>
        <h3>{{name}}</h3>
        <p>Grade: {{grade}}</p>
        <button id = "delete-button" class="container" action="/student:student_id" method="DELETE">
        <a href="/student/remove/1">Delete Student</a>
    </div>
    {{/each}}
    {{else}}
    <h3>No Students have been added!</h3>
    {{/if}}
</section>


{{!-- <form action="/students/{{id}}" method="DELETE">
    <button type="submit">Delete Student</button>
</form> --}}