<h2 class="title is-4 pl-4">Your Classroom:</h2>

{{!-- use handlebars logic to show this only if they have no students --}}
{{!-- <p>you currently do not have any students</p> --}}

<section class="grid has-text-centered">
    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

</section>