<h1 class="title is-4 pl-4">Your Classroom:</h1>

{{!-- use handlebars logic to show this only if they have no students --}}
{{!-- <p>you currently do not have any students</p> --}}

<section class="grid has-text-centered">
    {{#each teacher.students}}
    <div>
        <h3>{{name}}</h3>
        <p>Grade: {{grade}}</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>
    {{/each}}

</section>