<h1>Your Classroom:</h1>

{{!-- use handlebars logic to show this only if they have no students --}}
<p>you currently do not have any students</p>

<section class="class">
    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

    <div>
        <h3>student name</h3>
        <p>grade</p>
        <a href="/student/remove/1">Delete Student</a>
    </div>

</section>