<section class="hero has-text-centered">

    <h2 class="title is-2 my-6">Welcome!</h2>

    <p class="is-size-4 mx-6 mb-6">The best way for teachers to organize and access everything they need to know about
        students in
        their class.</p>

    <div>
        <button class="button mb-6 is-success is-large" onclick="window.location.href='/login'">Login</button>
    </div>

</section>