<section class="hero">

    <h1>Welcome!</h1>

    <p>The best way for teachers to organize and access everything they need to know about students in their class.</p>

    <a href="/login">Click here to login</a>

</section>