<section class="hero has-text-centered">

    <h1 class="title is-2">Welcome!</h1>

    <p class="is-size-4">The best way for teachers to organize and access everything they need to know about students in
        their class.</p>

    <div>
        <button class="button is-info is-light is-large" onclick="window.location.href='/login'">Login</button>
    </div>

</section>