<section>
    <form class="auth-form" action="/login" method="POST"></form>
    <h2>Log In</h2>

    <input type="email" name="email" placeholder="email adress">

    <input type="password" name="password" placeholder="password">

    <button>Submit</button>


</section>