<form class="container" action="/login" method="POST">
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input name="email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input name="password" class="input" type="password" placeholder="enter password">
        </div>
    </div>
    <div class="has-text-centered">
        <button class="button is-success">Login</button>
    </div>

</form>

{{!-- <form class="auth-form" action="/login" method="POST"></form>
<h2>Log In</h2>

<input class="input is-info" type="email" name="email" placeholder="email address">

<input class="input is-info" type="password" name="password" placeholder="password">

<button class="button is-info is-light is-large" onclick="window.location.href='/login'">Login</button> --}}