<section id="login-form" class="container mt-6 py-6">
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="text" placeholder="enter password">
        </div>
    </div>
    <div class="has-text-centered mt-6">
        <button class="button is-success" onclick="window.location.href='/login'">Login</button>
    </div>

</section>

{{!-- <form class="auth-form" action="/login" method="POST"></form>
<h2>Log In</h2>

<input class="input is-info" type="email" name="email" placeholder="email address">

<input class="input is-info" type="password" name="password" placeholder="password">

<button class="button is-info is-light is-large" onclick="window.location.href='/login'">Login</button> --}}