<section>
    <form class="auth-form" action="/Register" method="POST"></form>
    <h2>Register</h2>

    <input type="email" name="email" placeholder="email address">

    <input type="password" name="password" placeholder="password">

    <button>Submit</button>


</section>