<form class="container" action="/register" method="POST">

    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input name="name" class="input" type="text" placeholder="Enter Name">
        </div>
    </div>
    
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input name="email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input name="password" class="input" type="password" placeholder="Enter Password">
        </div>
    </div>
    <div class="has-text-centered">
        <button class="button is-success">Login</button>
    </div>

</form>




{{!-- <form class="auth-form" action="/Register" method="POST"></form>
<h2>Register</h2>

<input type="email" name="email" placeholder="email address">

<input type="password" name="password" placeholder="password">

<button>Submit</button> --}}