<div>
    <h1>Search</h1>
    <form action="/student">
        <input type="text" placeholder="student name">
        <button>Submit</button>
    </form>
</div>

<section>

    <div>
        <h3>student name</h3>
        <p>grade</p>

    </div>

</section>