/* RESETS */
* {
    font-family: "Manjari",
        sans-serif;
    color: rgb(23, 48, 69) !important;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(rgba(250, 250, 250, .7), rgba(250, 250, 250, .7)), url('./images/wide-notebook-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Global classes */

.flex-1 {
    flex: 1;

}

/* Custom styles */

header {
    margin: 30px;
    padding: 5px;
}

h1.title {
    text-shadow: -8px 8px 5px rgba(0, 0, 0, 0.2);
}

.button {
    box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.3);
}

#delete-btn {
    background-image: url('./images/eraser.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#edit-btn {
    background-image: url('./images/pencil.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

form:not(.cell form) {
    width: 60% !important;
}

#add-student-form {
    margin-left: 25% !important;
}

.cell {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.cell:nth-child(even) {
    background-color: rgb(170, 241, 238);
    border: 2px solid rgb(150, 212, 209);
}

.cell:nth-child(odd) {
    background-color: rgb(249, 255, 197);
    border: 2px solid rgb(219, 224, 174);
}

.cell-header {
    border-bottom: 1px solid #777;
    padding: 10px 15px 5px;
}

@media(max-width: 600px) {
    header.is-flex-direction-row {
        display: flex;
        flex-direction: column !important;
    }

    header h1.title {
        font-size: 1.5rem !important;
        text-align: center;
    }

    header nav a,
    header p {
        font-size: .85rem;
    }
}