/* RESETS */
html,
body {
    height: 100%;
}

/* Global Styles */

* {
    font-family: "Manjari",
        sans-serif !important;
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}

#login-form,
#register-form {
    width: 60%;
}